html
  head
    meta(charset="utf-8")
    meta(name="ROBOTS" content="INDEX,FOLLOW")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(meta name="description" content="today")
    title today.sebastianpardo.com
    include includes/favicon
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="dist/app.js")
    script.
      window.url = '#{url}';
      window.imgCount = '#{imgCount}';
    link(rel="stylesheet" href='dist/app.css' media='all')
  body(id=appId)
    main
      aside#popup
        #popup-img
      ul#images
        each img, index in images
          li(id="img" + index class='img-wrap' onClick="clickUp(event);")
            image(src= '/' + img)
      #time= time